* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#loading {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
}

#hienThiProducts {
    gap: 10px;
}

.has-icon {
    position: fixed;
    right: 5%;
    top: 5%;
}

.number {
    position: absolute;
    height: 1.2rem;
    width: 1.2rem;
    background: rgb(255, 61, 61);
    color: black;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
    line-height: 1.2rem;
    font-weight: 600;
    /* top: 1rem; */
    right: 0%;
    user-select: none;
}

.my-welcome {
    background: linear-gradient(to right, green, orange, aqua, red);
}

.btn-add {
    transition: .2s;
    outline: none;
    border: none;
    opacity: 0;
}

.card:hover .btn-add {
    opacity: 1;
}

.card {
    transition: .2s;
}

.card:hover {
    border: 1px red solid;
}

/* side bar */
body {
    font-family: "Lato", sans-serif;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

/* mycss */
.cardZZZZ {
    flex-direction: row;
}

.cardZZZZ span.text-danger {
    cursor: pointer;
}